<!-- channel page -->
<header name="channel header">
  <h2>ProjectGroup / Discussions</h2>
  <span>
    <button routerLink="/">Go back</button>
    <button routerLink="/channel-info">Channel info</button>
  </span>
</header>

<body name="channel body">
  <ul name="message list">
    <div name="message">
      <p>
        Hey @everyone, please welcome James Cook, he will be joining us on this project. I've only
        heard the best of you, so please feel yourself at home
      </p>
      <span>Anton Korotkov-</span>
      <span>Admin-</span>
      <span>8:20</span>
    </div>

    <div name="message">
      <p>
        Hey everyone, Im Jim, looking to know you better! Thanks for adding me to this chat @admin !
      </p>
      <span>James Cook</span>
      <span>8:21</span>
    </div>

    <div name="message">
      <p>Hi Jim, I'm Tom, nice to meet you mate! Lets get this project done!</p>
      <span>Thomas Spencer-</span>
      <span>8:22</span>
    </div>

    <div name="message">
      <p>Hello James, I'm Alice. Very nice to meet you!</p>
      <span>Alice Alysson-</span>
      <span>8:23</span>
    </div>
  </ul>

  <form name="message input form">
    <input type="text" />
    <button>Send</button>
  </form>
</body>
