<!-- channel page -->
<div class="container" style="max-width: 700px">
	<div class="card p-4">
		<div class="d-flex flex-column">
			<h6>{{ group?.name }} /</h6>
			<h4 class="">{{ channel?.name }}</h4>
			<div class="d-flex gap-2">
				<button class="btn btn-sm btn-primary" (click)="goBack()">Go back</button>
				<button
					class="btn btn-sm btn-outline-primary"
					[routerLink]="['/groups', gId, 'channels', cId, 'info']"
				>
					Channel info
				</button>
			</div>
		</div>
	</div>
	<br />
	<div class="card mb-3" style="min-height: 350px; max-height: 60vh; overflow-y: auto">
		<ul class="list-group">
			@for (msg of messages; track msg.id) {
				<li class="list-group-item bg-light p-3">
					<div class="d-flex">
						<div class="flex-grow-1">
							<div>
								{{ msg.text }}
							</div>
							<div class="text-muted small mb-1">
								{{ msg.senderId }} · {{ msg.createdAt }}
							</div>

							@if (msg.senderId === user?.id) {
								<button
									type="button"
									class="btn btn-sm btn-outline-danger"
									(click)="deleteMessage(msg.id)"
								>
									Delete
								</button>
								<button
                  type="button" class="btn btn-sm btn-outline-info"
                   > Edit
              </button>
							}
						</div>
					</div>
				</li>
			}
		</ul>
	</div>

	<form
		[formGroup]="form"
		(ngSubmit)="handleSubmit()"
		name="message input form"
		class="d-flex gap-2"
	>
		<input
			class="form-control flex-grow-1"
			formControlName="message"
			type="text"
			placeholder="Type your message..."
		/>
		<button type="submit" [disabled]="!form.value.message?.trim()" class="btn btn-primary">
			Send
		</button>
	</form>
</div>
