<!-- channel info page -->

<header name="channel header">
  <h2>ProjectGroup / Discussions</h2>
  <span>
    <button routerLink="/chat">Go back</button>
    <button>Change name</button>
    <button>Change theme</button>
    <button>Change image</button>
    <button>Delete channel</button>
  </span>
</header>

<label>
  People
  <ul>
    <li>
      <div>
        <a routerLink="/profile">UserName</a>
        <span>@Username | Admin |</span>
        <label>
          Actions:
          <span>
            <button>kick</button>
            <button>ban</button>
            <button>make admin</button>
            <button>report</button>
          </span>
        </label>
      </div>
    </li>

    <li>
      <div>
        <a routerLink="/profile">Anton Korotkov</a>
        <span>@korton | SuperAdmin |</span>
        <label>
          Actions:
          <span>
            <button>kick</button>
            <button>ban</button>
            <button>make admin</button>
            <button>report</button>
          </span>
        </label>
      </div>
    </li>

    <li>
      <div>
        <a routerLink="/profile">James Cook</a>
        <span>@Jimmy | User |</span>
        <label>
          Actions:
          <span>
            <button>kick</button>
            <button>ban</button>
            <button>make admin</button>
            <button>report</button>
          </span>
        </label>
      </div>
    </li>
  </ul>
</label>
