<!-- group info page -->

<header name="channel header">
  <h2>Project Group</h2>
  <span>
    <button routerLink="/group">Go back</button>
    <button>Change name</button>
    <button>Change image</button>
    <button>Change theme</button>
    <button>Delete group</button>
  </span>
</header>
<br>

<label>
  Channels
  <ul>
    <li>
      <!-- channel link -->
      <a routerLink="/channel">Discussions</a>
      <span>: (2)</span>
    </li>

    <li>
      <!-- channel link -->
      <a routerLink="/channel">Docs</a>
      <span>: (5)</span>
    </li>

    <!-- channel link -->
    <li>
      <a routerLink="/channel">Assignment#1</a>
    </li>
  </ul>
</label>

<label>
  People
  <ul>
    <li>
      <div>
        <a routerLink="/profile">UserName</a>
        <span>@Username | Admin |</span>
        <label>
          Actions:
          <span>
            <button>kick</button>
            <button>ban</button>
            <button>make admin</button>
            <button>report</button>
          </span>
        </label>
      </div>
    </li>

    <li>
      <div>
        <a routerLink="/profile">Anton Korotkov</a>
        <span>@korton | SuperAdmin |</span>
        <label>
          Actions:
          <span>
            <button>kick</button>
            <button>ban</button>
            <button>make admin</button>
            <button>report</button>
          </span>
        </label>
      </div>
    </li>

    <li>
      <div>
        <a routerLink="/profile">James Cook</a>
        <span>@Jimmy | User |</span>
        <label>
          Actions:
          <span>
            <button>kick</button>
            <button>ban</button>
            <button>make admin</button>
            <button>report</button>
          </span>
        </label>
      </div>
    </li>
  </ul>
</label>
