<!-- group page -->
<div>
  <div name="group nav">
    <h2>Project Group</h2>
    <p>@3813ICT-Group-12</p>
    <span>
      <button routerLink="/">Go back</button>
      <button routerLink="/group-info">Group info</button>
      <button routerLink="/group-info">Create Channel</button>
    </span>
  </div>

  <!-- channel list -->
  <br />
  <label>
    Channels
    <ul>
      <li>
        <!-- channel link -->
        <a routerLink="/channel">Discussions</a>
        <span>: (2)</span>
      </li>

      <li>
        <!-- channel link -->
        <a routerLink="/channel">Docs</a>
        <span>: (5)</span>
      </li>

      <!-- channel link -->
      <li>
        <a routerLink="/channel">Assignment#1</a>
      </li>
    </ul>
  </label>
</div>
