<div class="py-3">
	<h4 class="mb-3">Home</h4>

	<div class="card">
		<p class="card-header py-2 fw-semibold bg-primary text-light">myGroups</p>
		<ul class="list-group list-group-flush">
			@for (group of groups; track group.id) {
				<li class="list-group-item list-group-item-action p-0">
					<div
						class="group-heading px-3 py-2 d-flex justify-content-between align-items-center"
					>
						<div>
							<span>Group :</span>
							<a
								[routerLink]="['/groups', group.id]"
								class="text-decoration-none .bg-light"
							>
								{{ group.name }}
							</a>
							<small class="text-muted ms-1">GroupId: {{ group.id }}</small>
						</div>
						<button [routerLink]="['/groups', group.id]" class="btn btn-sm btn-light">Open</button>
					</div>
				</li>
			}
		</ul>
	</div>

	<br />

	<div class="card">
		<div class="card-header py-2 fw-semibold bg-primary text-light">myChannels</div>
		<ul class="list-group list-group-flush">
			@for (group of groups; track group.id) {
				<li class="list-group-item list-group-item-action p-0">
					<div class="group-heading px-3 py-2 fw-bold bg-light">{{ group.name }}</div>

					<ul class="list-group list-group-flush">
						@for (ch of channelsByGroup.get(group.id) ?? []; track ch.id) {
							<li class="list-group-item list-group-item-action py-1">
								<div class="ps-4 d-flex justify-content-between align-items-center">
									<a
										[routerLink]="['/groups', group.id, 'channels', ch.id]"
										class="text-decoration-none text-nowrap mr-0"
									>
										Channel : {{ ch.name }}
									</a>
									<button [routerLink]="['/groups', group.id, 'channels', ch.id]" class="btn btn-sm btn-light">
										Read
									</button>
								</div>
							</li>
						}
					</ul>
				</li>
			}
		</ul>
	</div>
</div>
